* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222c41;
}

.App {
  height: 100vh;
  display: flex;
  padding: 1em;
  gap: 2em;
}

.navigation {
  width: 200px;
  background-color: #ffffff;
  border-radius: 1em;
  padding: 2em;
  position: relative;
}

.profile {
  display: flex;
  gap: 1em;
  font-size: 0.8em;
  align-items: center;
  margin-bottom: 3em;
}

.box {
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #fdc049;
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: flex-start;
  list-style-type: none;
}

.nav-items li {
  cursor: pointer;
  font-size: 0.8em;
  color: #75797c;
}

.nav-items i {
  font-size: 1.2em;
  margin-right: 1em;
}

.fa-boxes-stacked {
  color: #fdc049;
}

li:first-child {
  color: #6a69e0;
  font-weight: bold;
}

.nav-toggle {
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;
  width: 65%;
  text-align: left;
  color: #dd5c5e;
  font-size: 1.2em;
  cursor: pointer;
}

main {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.buttons {
  display: flex;
  gap: 1em;
  align-items: center;
}

button {
  background-color: #fdc049;
  padding: 0.8em 1.3em;
  border: none;
  border-radius: 8px;
  font-size: 0.7em;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(0.97);
}

.stats {
  display: flex;
  gap: 2em;
  width: 100%;
}

.stat.one-column {
  width: 100%;
}

.stat {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #2e384e;
  padding: 2em 1em;
  border-radius: 20px;
  gap: 1em;
}

.stat > i,
.task > i {
  font-size: 2em;
  border: 1px solid #75797c;
  color: #fdc049;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.stat--details {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  margin-right: auto;
  color: #ffffff;
}

.stat--details p {
  color: #93979b;
}

.stat--chart {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.tasks,
.notes,
.projects {
  background-color: #2e384e;
  height: 100%;
  width: 100%;
  padding: 1em 1em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tasks::-webkit-scrollbar {
  display: none;
}

.tasks > h4 {
  color: #ffffff;
}

.task {
  display: flex;
  align-items: center;
  gap: 1em;
  border-bottom: 1px solid #75797c;
  padding-bottom: 0.5em;
  position: relative;
}

.task-details {
  margin-right: auto;
  color: #ffffff;
}

.task-details p:nth-child(2) {
  color: #75797c;
}

.task-actions {
  display: flex;
  gap: 1em;
  color: #fdc049;
}

.task-actions i {
  cursor: pointer;
}

.task-actions i:active {
  transform: scale(0.97);
}

.task-actions input {
  accent-color: #fdc049;
  cursor: pointer;
  height: 1.2em;
  width: 1.2em;
}

.notes-container,
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.notes > h4 {
  color: #ffffff;
}

.note {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  width: 210px;
  height: 210px;
  border-radius: 8px;
  padding: 1em;
  font-size: 0.9em;
  background-color: #222c41;
}

.projects > h4 {
  color: #ffffff;
}

.project {
  width: 100%;
  display: flex;
  padding: 0.5em 2em;
  background-color: #222c41;
  border-radius: 8px;
  color: #75797c;
  align-items: center;
}

.project p {
  color: #ffffff;
  margin-right: auto;
}

.project-actions {
  display: flex;
  gap: 1em;
}

.project-actions i {
  cursor: pointer;
}

.note > h5 {
  color: #ffffff;
}

.note > p {
  color: #93979b;
  margin-bottom: auto;
}

.note-actions {
  display: flex;
  gap: 1em;
  align-self: flex-end;
}

.note-actions i {
  cursor: pointer;
  color: #93979b;
}

.right-bar,
.pro {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.right-bar {
  height: 100%;
}

.pro {
  width: 100%;
  background-color: #6a69df;
  color: #ffffff;
  height: 250px;
  border-radius: 12px;
  justify-content: center;
}

.pro > a {
  padding: 0.7em 2em;
  background-color: #ffffff;
  color: #6a69df;
  border-radius: 8px;
  border: none;
  text-decoration: none;
}

.pro > a:active {
  transform: scale(0.97);
}

.pro > i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  height: 70px;
  width: 70px;
  background-color: #7778e0;
  border-radius: 50%;
}

.form-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

form {
  display: flex;
}

.one-column-form {
  flex-direction: column;
  width: 300px;
  gap: 1em;
  border-radius: 4px;
  padding: 2em;
  background-color: #ffffff;
}

.one-column-form i,
.two-column-form i {
  text-align: center;
  cursor: pointer;
}

[type="text"],
textarea,
select,
[type="date"] {
  padding: 0.5em 1em;
  display: block;
  margin-top: 0.2em;
  width: 100%;
  font-family: inherit;
}

textarea {
  height: 100px;
}

select {
  cursor: pointer;
}

.two-column-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  gap: 1em;
  border-radius: 4px;
  padding: 2em;
  background-color: #ffffff;
}

.two-column-form i {
  grid-column: 1 / span 2;
}

.two-column-form button {
  grid-column: 1 / span 2;
}

.more-details {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 200px;
  color: #ffffff;
}

.more-details span {
  color: #93979b;
  font-size: 0.9em;
}
